body {
    margin: 0;
    overflow: hidden;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.initial-message {
    color: #ffffff;
    font-family: 'Lucida Console', 'Courier New', monospace;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity 3s ease;
    z-index: 999;
}